{% extends 'ascobar/base.html' %}
{% load static %}
{% block content %}

	<div class="container-fluid">
		<article class="mt-5">
			<img src="{% static 'images/residence.png' %}" class="float-left mr-4 mb-2" width="300">
			<p class="text-justify">SOPAN (Solar Panel) merupakan solusi yang dirancang untuk membantu anda menavigasi transisi penggunaan alternatif pembangkit listrik dengan memanfaatkan sumber energi terbarukan. Solar panel melengkapi arsitektur rumah anda dengan memanfaatkan salah satu sumber daya alam yang paling kuat namun gratis yaitu dengan intensitas radiasi sinar matahari untuk menghasilkan energi listrik. Teknologi solar panel menghasilkan energy listrik yang lebih banyak melalui efisiensi intensitas sinar matahari yang diserap oleh solar panel dikonversi radiasi matahari menjadi arus listrik dengan menggunakan dua sistem yaitu on-grid dan off-grid. Sopan (Solar Panel) mempunyai makna dalam implementasinya yaitu sopan yang presisi, sopan dalam instalasi, dan sopan dalam transisi.</p>
		</article>

		<article>
			<img src="{% static 'images/solar_system.png' %}" class="float-right p-3" width="300">
			<p class="text-justify">Penggunaan solar panel memberikan banyak keuntungan seperti memotong biaya listrik. Solar panel merupakan renewable energy yang dapat mengurangi sisa-sisa karbon dioksida di lingkungan sekitar. Berbeda dengan penggunaan generator listrik tradisional, tenaga matahari tidak melepaskan karbon dioksida (CO2) atau polutan lainnya sehingga penggunaannya sangat ramah lingkungan. Solar panel akan terus menyerap intensitas sinar matahari meskipun cuaca mendung atau hujan. Perawatan solar panel kami sangat mudah seperti adanya hujan dapat membersihkan panel dari debu yang menempel pada panel surya.
			</p>
			<div class="clearfix"></div>
		</article>

	

	</div>

{% endblock %}