{% extends "ascobar/base.html" %}
{% load static %}



{% block header2 %}
	<div class="col-sm-12 col-md-12 col-lg-12 section4 text-center">
	      <div class="col-sm-12 col-md-12 col-lg-12">
	        <h3 class="mt-5 text-secondary mb-0"><b>PAKET SOPAN</b>
	        <hr class="w-25">
	          <small><br> Kami berikan yang terbaik untuk anda</small>
	        </h3>
	      </div>
	      <div class="col-sm-12">
	        <p class="asco-text-sm">
	          Kami memberikan pilihan-pilihan yang sesuai dengan kebutuhan listrik rumah anda.<br/>Listrik SOPAN<sup>TM</sup> listrik yang mengerti anda.
	        </p>

	      </div>
	      <div class="col-sm-12 col-md-12 col-lg-12" id="pricing-table">
	        <br>
	        <a href="#" class="buttony">Cek penghematan Listrik anda</a>
	        <br/><hr/>
	        <label class="other-packet"> Atau pilih paket terbaik kami dibawah</label>
	      </div>
	      <div class="col-sm-12 col-md-12 col-lg-12 col-md-4">
	        <a href="#pricing-table" style="margin-bottom:50px">
	         <span class="fas fa-angle-double-down"></span>
	        </a>
	      </div>
	</div>
{% endblock %}


{% block content %}
	
		<!-- pricing section -->
	    <div class="container pricing-table mt-5">
	    	<div class="row justify-content-center">
	    		<div class="col-md-4">
	    		    <div class="col-sm-12 col-md-12 col-lg12">
	    		        <div class="pricing pricing-silver">
	    		            <h3 class="pricing-title">
	    		                Silver
	    		            </h3>
	    		            <div class="price">
	                            <span class="rp">Rp</span>
	                            <span class="big">26</span>.000.000
	                            <p class="small">ONE-TIME PURCHASE</p>
                          </div>
	    		            <p>
	    		                4 units Seraphim SRP-280-BPB <br>
	    		                1 unit Solis Mini-1000-4G <br>
	    		                Free Online Monitoring <br>
	    		                Free installation Nation-wide
	    		                <br><br>
	    		                <b>RECOMMENDED FOR 2.400VA ABOVE INSTALLED CAPACITY</b>
	    		            </p>
	    		            <a href="#" class="default-pricing-button btn-silver">pelajari</a>
	    		        </div>
	    		    </div>
	    		</div>
	    		<div class="col-md-4">
	    		    <div class="col-sm-12 col-md-12 col-lg12">
	    		        <div class="pricing pricing-gold">
	    		            <h3 class="pricing-title">
	    		                Gold
	    		            </h3>
	    		            <div class="price">
	                            <span class="rp">Rp</span>
	                            <span class="big">43</span>.000.000
	                            <p class="small">ONE-TIME PURCHASE</p>
                          	</div>
	    		            <p>
	    		                8 units Seraphim SRP-280-BPB <br>
	    		                1 unit Solis Mini-2000-4G <br>
	    		                Free Online Monitoring <br>
	    		                Free installation Nation-wide
	    		                <br><br>
	    		                <b>RECOMMENDED FOR 2.500VA ABOVE INSTALLED CAPACITY</b>
	    		            </p>

	    		            <a href="#" class="default-pricing-button btn-gold">pelajari</a>
	    		        </div>
	    		    </div>
	    		</div>
	    		<div class="col-md-4">
	    		    <div class="col-sm-12 col-md-12 col-lg12">
	    		        <div class="pricing pricing-platinum">
	    		            <h3 class="pricing-title">
	    		                Platinum
	    		            </h3>
	    		            <div class="price">
	                            <span class="rp">Rp</span>
	                            <span class="big">65</span>.000.000<br>
	                            <p class="small">ONE-TIME PURCHASE</p>
                         	</div>
	    		            <p>
	    		                13 units Seraphim SRP-280-BPB <br>
	    		                1 unit Solis Mini-3000-4G <br>
	    		                Free Online Monitoring <br>
	    		                Free installation Nation-wide
	    		                <br><br>
	    		                <b>RECOMMENDED FOR 4.400VA ABOVE INSTALLED CAPACITY</b>
	    		            </p>

	    		            <a href="#" class="default-pricing-button btn-platinum">pelajari</a>
	    		        </div>
	    		    </div>
	    		</div>
	    		<div class="col-sm-12 col-md-12 col-lg-12 text-center div-paket-lainnya">
	    		    <a href="/kontak/" class="paket-lainnya">Hubungi Custome Care Kami</a>
	    		</div>
	    	</div>
	                
	    </div>

{% endblock %}